<h2>My Jobs</h2>

<!-- Original with direct binding (onSelect)-->
<!-- <ul class="jobs">
    <li *ngFor="let job of jobs" (click)="onSelect(job)" [class.selected]="job === selectedJob">
        <span class="badge">{{job.id}}</span> {{job.client}} {{job.jobcode}}
    </li>
</ul> -->

<!-- Revised to use routes -->

<ul class="jobs">
    <li *ngFor="let job of jobs">
      <a routerLink="/detail/{{job.id}}">
        <span class="badge">{{job.id}}</span> {{job.client}} {{job.jobcode}}
      </a>
      <button class="delete" title="delete job"
  (click)="delete(job)">x</button>
    </li>
  </ul>

  <div>
    <label for="new-job">Job code: </label>
    <input id="new-job" #jobCode />
  
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="add(jobCode.value); jobCode.value=''">
      Add job
    </button>
  </div>